127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ k8s_master_ip }}  kub-master
{{ k8s_node1_ip }}   kub-node1
{{ k8s_node2_ip }}   kub-node2
{{ k8s_node3_ip }}   kub-node3



